/**
  * Style da pagina principal
  */
header, footer{
    background-color: #1565c0;
}
header > img {
    width: 300px;
    position: relative;
    display: block;
    margin: 10px auto;
}
label{
    font-size: 16px;
}
.search {
    width: 100%;
    height: 60px;
    margin-top: 5px;
    border-radius: 15px;
}
.panel-body h3 {
    display: inline;
    margin-left:30px;
    margin-right:30px;
}
.panel-body .row {
    margin: 12px;
}

