.map {
	height: 400px;
	width: 100%;
}

.info-click{
	text-align: center;
	font-size: 11px;
}

.info-card{
	display: flex;
}

.info-card div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.info-card label{
	font-weight: bold;
}

.info-card label.max{
	color: blue;
}
.info-card label.min{
	color: red;
}

#tooltip {
	position: absolute;
	height: auto;
	width: auto;
	z-index: 1000;
    background: rgba(0,0,0,0.65);
    border-radius: 3px;
	padding: 10px;
	font-size: 12px;
	margin-top: 50px;
	color: #FFF;
	display: none;
}

#tooltip div.value-info h2{
	font-weight: bold;
}

/* #tooltip div.value-info p{
	display: block;
} */

.tooltip.in {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.tooltip.top .tooltip-arrow {
	border-top-color: white;
}

.tooltip-inner {
	border: 2px solid white;
}