* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #333;
	font-family: sans-serif;
	background-color: #E0E0E0;
}
#logo
{
	padding: 10px 0;
	background-color: #1565C0;
}
#logo-image
{
	width: 30%;
	display: block;
	margin: 0 auto;
}

#search
{
	width: 100%;
	display: block;
	background-color: #fff;
	padding: 5px 7px;
	overflow: hidden;
}

#input-search
{
	float: left;
	width: 90%;
	height: 32px;
	padding: 5px;
	font-size: 16px;
	border: none;
	outline: none;
	color: #444;
}

#input-search::placeholder
{ color: #999;}
#input-search::-webkit-placeholder
{ color: #999;}

#btn-submit-search
{
	width: 10%;
	height: 32px;
	float: left;
	background-image: url(../images/icons/search.png);
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

#page-content
{
	padding: 15px;
}

.card
{
	display: block;
	margin: 5px 0;
	padding: 10px 10px 10px 0;
}
@media screen and (max-width: 768px) {
	.card {
		padding: 0;
	}
}

.card-content
{
	background-color: #fff;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.2);
}

.card-content .header
{
	padding: 10px;
	font-size: 20px;
}

.card-content .description
{
	padding: 10px;
	background-color: #f0f0f0;
	overflow: hidden;
}
.card-content .description a
{
	display: block;
	float: left;
	font-size: 18px;
	line-height: 42px;
	color: #666;
	text-decoration: none;
}
.card-content .description i
{
	width: 42px;
	height: 42px;
	display: block;
	float: right;
	background-repeat: no-repeat; background-position: center;
}

.data-card
{
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #555;
}

.message-card
{
	min-height: 42px;
	padding: 5px 10px;
	font-size: 17px;
	color: #555;
}

.infos-card
{
	background-color: #F0F0F0;
	display: table;
	width: 100%;
}

.block-card
{
	display: table-row;
}
.block-card .cell-card
{
	display: table-cell;
	width: 50%;
	padding: 10px;
	overflow: hidden;
}
.block-card .image
{
	width: 42px;
	height: 42px;
	display: inline-block;
	float: left;
	background-repeat: no-repeat; background-position: center;
}
.block-card p
{
	display: block;
	line-height: 42px;
	font-size: 32px;
	margin: 0 auto;
	padding-left: 32px;
	float: left;
}
.block-card p.temperature::after{content: '\00BA C';}
.block-card p.text-precipitation::after{content: 'mm';}
.block-card p.text-probability::after{content: '\0025';}

p.temperature-max {color: #de3b3b;}
p.temperature-min {color: #3b7cde;}
.img-max {background-image: url(../images/icons/upload.png);}
.img-min {background-image: url(../images/icons/download.png);}
.img-precipitation {background-image: url(../images/icons/raindrop-close-up.png);}
.img-probability {background-image: url(../images/icons/protection-symbol-of-opened-umbrella-silhouette-under-raindrops.png);}

.snack
{
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}
.snack #snack-message
{
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.2);
	padding: 15px;
	font-family: 'Calibri';
	font-weight: bold;
	color: #fff;
	border-radius: 2px;
}