// Search form component
.form-container{
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}
.form-button--search{
    width: 25px;
    position: absolute;
    top: 50%;
    right: $quarter-space;
    transform: translateY(-50%);
    cursor: pointer;
}
.form-element-error--search{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background: rgba(255,0,0,0.1);    
    max-height: 0px;
    opacity: 0;
    padding: 0px;
    overflow: hidden;
    transition: opacity 0.6s;

    &.is-open{
        max-height: 200px;
        padding: $quarter-space;
        opacity: 1;
    }
}