<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Teste de Recrutamento Climatempo</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://github.com/climatempo/challenge-accepted" target="_blank"><i class="fa fa-github"></i> Challenge Accepted</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <a href="/omito"><h5 class="white-text">Conheça o Mito</h5></a>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/diego.hideky"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/diego-hideky-997423128?trk=nav_responsive_tab_profile_pic"><i class="fa fa-linkedin"></i> Linkedin</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/diego_huideky"><i class="fa fa-instagram"></i> Instagram</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/playasjc"><i class="fa fa-youtube"></i> Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Copyright 2017 Climatempo
            <a class="grey-text text-lighten-4 right" href="http://github.com/diegohideky" target="_blank"><i class="fa fa-github"></i> Confia no pai</a>
        </div>
    </div>
</footer>