<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/vendors/css/normalize.min.css">
  <link rel="stylesheet" href="/vendors/css/grid.css">
  <link rel="stylesheet" href="/resources/css/style.min.css">
  <link rel="stylesheet" href="/resources/css/queries.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title>Climatempo</title>
</head>
<body>
  <header>
    <div class="first-bar">
      <div class="row">
        <img src="/resources/img/logo-white.png" alt="Climatempo logo" class="logo">
      </div>
    </div>

    <div class="search-bar">
        <div class="row">
          <input class="search" type="text" id="search" placeholder="Digite uma cidade">
        </div>
      </div>
  </header>
  <section>

