div(class="row")
	div(class="col s12")
		div(class="row")
			div(class="input-field col s12 white m-0")
				form(method="POST", action="/weather", role="form")
					input(type="text", placeholder="Digite aqui sua cidade", name="locale")
					i(class="material-icons prefix search-icon") search