.app-prevision-text {
  margin-top: 16px !important;
  margin-left: 16px !important;
}

@media (min-width: 1000px) {
  .app-prevision-text {
    margin-left: 64px !important;
  }
}

.container-image-message {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-relative {
  position: relative;
  margin-top: 15%;
}
