/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/dist/css/bootstrap.css';

nav {
    margin-bottom: 10px;
}

.logo {
    height: 35px;
}

h2 {
    text-transform: uppercase;
    font-size: 13px;
}

.weather-card {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #eee;
}

.card-date {
    font-size: 10px;
    margin: 0;
    font-weight: bold;
    padding: 10px;
}

.card-text {
    background: #f0f0f0;
    font-size: 13px;
    padding: 10px;
}

.card-data {
    font-size: 24px;
}
