front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*

front/node_modules
front/dist
front/dist-ssr
front/*.local
front/.env
front/coverage

back/node_modules
back/build
back/.env
