/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
!/vendor/bin/*
!/vendor/composer/*
!/vendor/laravel/*
!/vendor/autoload.php
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
