.weathers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.weathers-element {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
