.logo-climatempo {
    width: 100px;
    height: 10px;
}

.bar-center {
    text-align: center !important;
}

.form-inline-search {
    margin: 5px 2px 2px 2px;
    margin-bottom: 5px;
    height: 50px;
}

#root>div>div.input-group.form-inline-search>input {
    height: 50px;
}

#root>div>form>input {
    margin: 3px 3px 3px 3px;
    width: 100%;
    height: 50px;
}

.card-style {
    margin: 5px 5px 5px 5px;
}

.city-label{
    text-align: center;
    font-weight: bold;
}

.card-text-desc{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row-card-item{
    margin-bottom: 12px;
}