<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <title>Desafio Climatempo</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-primary">
      <a class="navbar-brand mr-0 mr-md-2 my-2" href="/" aria-label="Climatempo">
        <img src="/images/logo-white.png" height="30" alt="Climatempo">
      </a>
    </header>
    <div class="container-fluid">
      <form role="search" id="search-form" class="d-flex align-items-center p-3 border-bottom border-light mx-n3">
        <input type="search" class="form-control d-block" id="search-input" placeholder="Pesquise sua cidade..." name="name" aria-label="Pesquise uma cidade..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" dir="auto">
        <button type="submit" class="btn btn-link p-0 ml-3">
          <img src="/images/icons/search.png" alt="Pesquisar">
        </button>
      </form>
      <div id="app" class="bg-light mx-n3 p-3">
        <div class="text-center my-5">
          <h3 class="pb-2">Bem-vindo!</h3>
          <p>Esse site é resultado de um desafio proposto pela Climatempo para os desevolvedores.</p>
          <p>Para começar, informe sua cidade, no campo de busca acima.</p>
          <p>O site carregará os dados referentes a cidade informada.</p>
          <p>Ou, informará uma mensagem de erro!</p>
          <p>Boa sorte (pra mim)!</p>
          <p>:)</p>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
