doctype html
html
  head
    title= title
    link(rel="stylesheet", href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/fontawesome/css/font-awesome.min.css')
  
  body
    block content