// TEXTS

// ALIGNING
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

// TRANSFORM
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
// DECORATION
.text-underline{
    text-decoration: underline;
}
.text-none{
    text-decoration: none;
}
