<!DOCTYPE html>
<html lang="pt">
<head>
    <% include ../partials/head %>
</head>

<body>
<header>
    <% include ../partials/header %>
</header>

<main class="container">

    <div class="row center-block">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-image">
                    <img src="/images/mito.jpg">
                </div>
                <div class="card-content">
                    <p class="center">
                        Parabéns! Você é um campeão.
                    </p>
                </div>
                <div class="card-action">
                    <a href="/">Página Inicial</a>
                </div>
            </div>
        </div>
    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>

<script src="/dist/js/index.js"></script>
</html>