@import url('https://fonts.googleapis.com/css?family=Questrial');
@import "./variables.sass"

*
  box-sizing: border-box

body
  background: $grey-lighter

.App 
  font-family: 'Questrial', sans-serif;
