div.weater-card{
  div.card{
      div.card-action{
        img{
          width: 30px;
          display: inline-block;
          margin-right: 10px;
        }
        h4{
          margin: 0;
          display: inline-block;
        }
      }
  }
}
