<div *ngIf="forecast" class="pt-2">
  <div class="row m-0">
    <div class="col-12">
      <h4>Previsão para {{forecast.locale.name}} - {{forecast.locale.state}}</h4>
    </div>
  </div>

  <div class="row m-0">
    <div *ngFor="let item of forecast.weather" class="col-sm-6 col-lg-4 pt-2 pb-3">
      <div class="card">
        <div class="card-block pt-1 pb-1">
          <p class="card-title mb-1 c-card-title">{{item.date | datefy | date: 'd/M/y'}}</p>
          <p class="card-text">{{item.text}}</p>
        </div>
        <div class="container-fluid w-100 c-stats">
          <div class="row p-3 align-text-middle text-center">
            <div class="col-2">
              <img src="/assets/icons/maxima.png" alt="Máxima" />
            </div>
            <div class="col-4 text-info c-stat-text">
              {{item.temperature.max}}&deg;C
            </div>
            <div class="col-2">
              <img src="/assets/icons/minima.png" alt="Minima" />
            </div>
            <div class="col-4 text-danger c-stat-text">
              {{item.temperature.min}}&deg;C
            </div>
          </div>
          <div class="row p-3 align-text-middle text-center">
            <div class="col-2">
              <img src="/assets/icons/umidade.png" alt="Precipitação" />
            </div>
            <div class="col-4 c-stat-text">
              {{item.rain.precipitation}}mm
            </div>
            <div class="col-2">
              <img src="/assets/icons/chuva.png" alt="Probabilidade de chuva" />
            </div>
            <div class="col-4 c-stat-text">
              {{item.rain.probability}}%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
