.wrapper {
  position: absolute;
  flex-direction: column;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5vh 0;
  width: 96vw;
  height: 200vh;
  margin: 0 2vw;
  &:focus-within {
    background-color: rgba($color: white, $alpha: 0.9);
    .suggestions {
      visibility: visible;
    }
  }
}

.input {
  position: relative;
  left: -51vw;
  top: 10vh;
  width: 0vw;
  height: 0vh;
  text-align: center;
  font-size: 1.3rem;
  background-color: white;
  border: 1px solid lightblue;
  &:focus-within {
    top: 0;
    left: 0;
    width: 90vw;
    height: 10vh;
  }
}

.suggestions {
  visibility: hidden;
  font-size: 2rem;
  color: gray;
  list-style-type: none;
}

.item:hover {
  cursor: pointer;
}

.active {
  color: hsl(211.93, 80.28%, 41.76%);
}
