.wrapper {
  position: absolute;
  flex-direction: column;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5vh 0;
  width: 96vw;
  height: 200vh;
  margin: 0 2vw;
  background-color: rgba($color: white, $alpha: 0.9);
}

.input {
  visibility: inherit;
  position: relative;
  text-align: center;
  font-size: 1.3rem;
  background-color: white;
  border: 1px solid lightblue;
  top: 0;
  left: 0;
  width: 90vw;
  height: 10vh;
  border-radius: 30px;
  color: hsl(0, 0, 35%);
  font-size: 1.5rem;
}

.suggestions {
  visibility: inherit;
  font-size: 2rem;
  color: gray;
  list-style-type: none;
}

.item:hover {
  cursor: pointer;
}

.active {
  color: hsl(211.93, 80.28%, 41.76%);
}

.hidden {
  visibility: hidden;
}
