.card {
  h3 {
    font-size: 1.5rem;
  }

  span {
    font-size: 1.8rem;
    font-weight: 200;
  }

  margin: 1rem;
  padding: 1rem;
  background-color: white;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 300px;
  height: 300px;
}

.stats {
  width: 100%;
  height: 32px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.max_temp {
  color: red;
}
.min_temp {
  color: blue;
}
