@use "styles/abstracts/index" as *;

.menu {
  @extend %flex-center;
  flex-direction: column;
  position: fixed;
  width: 300px;
  height: 250px;

  margin: 0;
  padding: 0;
  top: 10px;
  right: 10px;

  background-color: white;
  box-shadow: -4px 4px 4px 4px rgba($color: #000000, $alpha: 0.1);
  border-radius: 10px;
}

.icon {
  cursor: pointer;
  &:hover {
    scale: 1.2;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.toggle {
  @extend %flex-center;
  justify-content: space-around;
  list-style-type: none;
  background-color: $climatempo-primary-color;
  width: 90%;
  height: 20%;
  margin: 10px 0;
  border-radius: 10px;
}

.option {
  color: white;
  font-size: 1.4rem;
  font-weight: bolder;
}

.description {
  font-size: 1.2rem;
  margin: 2px 0;
}
