<div class="container">
    <div class="row center-block">
        <div class="col s12 m6 offset-m3">
            <div class="card z-depth-2">
                <div class="card-image">
                    <img src="/dist/img/mito.jpg">
                </div>
                <div class="card-content">
                    <p class="center">
                        Parabéns! Você é um campeão.
                    </p>
                </div>
                <div class="card-action">
                    <a ui-sref="home.forecast">Página Inicial</a>
                </div>
            </div>
        </div>
    </div>
</div>