.c-logo {
  border-bottom: 1px solid gray;
}

.c-search {
  box-shadow: 0 2px 1px lightgrey;
}

.c-search-group {
  background-color: white; color: gray;
}

.c-search-input {
  border: none;
  font-size: 1.5rem;
}
