<meta chartset="UTF-8"/>
<title>Climatempo</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet"/>
<link href="/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/dist/css/style.css" rel="stylesheet"/>

<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
