@mixin border-radius($radius, $direction) {
	border-#{$direction}-radius: $radius;
	-webkit-border-#{$direction}-radius: $radius;
    -moz-border-#{$direction}-radius: $radius;
    -o-border-#{$direction}-radius: $radius;
}

@mixin border-radius-all($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin box-shadow($v1, $v2, $v3, $color) {
    box-shadow: $v1 $v2 $v3 $color;
    -webkit-box-shadow: $v1 $v2 $v3 $color;
    -moz-box-shadow: $v1 $v2 $v3 $color;
}

@mixin transitions($property, $time) {
    transition: $property $time;
    -webkit-transition: $property $time;
    -moz-transition: $property $time;
    -o-transition: $property $time;
}

@mixin rotates($deg) {
    transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    -webkit-transform: rotate($deg);
}