// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

@import 'vars';
@import 'reset';
@import 'functions';
@import 'mixin';

// NAV MENU
.nav-top {
    background-color: $bgMenuTop;
    display: block;
    height: 65px;
    padding: 12px;
    width: 100%;

    a {
        display: block;
        text-align: center;
        width: 100%;
        height: 100%;

        img {
            display: inline-block;
            max-height: 100%;
            max-width: 100%;
        }
    }
}

// Busca
.frm-busca {
    display: block;
    width: 100%;
    position: relative;

    .frm-txt {
        background-color: #fff;
        height: 50px;
        padding: 10px 45px 10px 10px;
        width:100%;
        font-size: 1.2em;
        color: #5e5e5e;
    }

    [type='submit'] {
        background: url('../../../images/icons/search.png') no-repeat center center;
        background-size: cover;
        right: 10px;
        position: absolute;
        top: 13px;
        width: 25px;
        height: 25px;
        cursor: pointer;

        &:hover {
            @include mTransition($tPropertyDefault, $tTimeDefault, $methodDefault);
        }
    }
}

.container {
    display: block;
    width: 100%;

    .content {
        display: block;
        margin: 0 auto;
        max-width: 984px;
        width: 100%;
    }

    h1 {
        padding: 10px 0;
    }
}

[class*="card-"] {
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    float: left;
    margin-bottom: 30px;
    margin-right: 4%;
    width: 48%;

    &:nth-child(even) {
        margin-right: 0;
    }

    .title {
        background-color: #fff;
        padding: 10px;
        border-radius: 3px 3px 0 0;

        h5 {
            color: #000;
            font-size: 0.86em;
            margin-bottom: 7px;
        }

        p {
            color: #000;
            font-size: 0.8em;
        }
    }

    .content-card {
        display: block;
        width: 100%;
        padding: 10px;

        .item {
            float: left;
            padding: 10px;
        }

        .icon {
            margin-right: 15px;
            display: inline-block;
            text-align: center;
            width: 30%;

            img {
                display: inline-block;
                max-width: 100%;
            }
        }

        .text {
            display: inline-block;
            margin-top: 7px;
            text-align: center;
            vertical-align: top;
            width: 30%;

            &.red {
                color: #c62828;
            }

            &.blue {
                color: #0277bd;
            }
        }

        .w-lg-50 {
            width: 50%;
        }
    }
}

.load {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #3984d9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    display: none;
    left: 50%;
    margin-left: -53px;
    position: fixed;
    top: 40px;
    width: 106px;

    span {
        display: block;
        width: 100%;
        font-size: 0.93em;
        padding: 10px;
        color: #3984d9;

        img {
            display: inline-block;
            max-width: 18px;
            vertical-align: top;
            margin-left: 6px;
        }
    }
}
// @for $i from 1 through $card-columns {
//     .card-#{$i} {
//         width: 100% / $card-columns * $i;
//     }
// }
