div#weather-container {
  background-color: #e0e0e0;
  padding-top: 20px;
  padding-inline: 15px;
  height: calc(100vh - 90px);
  overflow-y: auto;
}

div#weather-container div.forecast-info span {
  font-size: 16pt;
  color: black;
}

div.weather-cards {
  display: grid;
  height: 100%;
  padding-top: 13px;
}

@media screen and (min-width:720px) {
  div.weather-cards {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}

@media screen and (min-width: 1024px) {
  div.weather-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
}

div.weather-cards div.weather-card-container {
  margin-top: 15px;
  margin-bottom: 15px;
}
