<!DOCTYPE html>
<html lang="pt" ng-app="App">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main class="container" ng-controller="forecastCtrl">

            <!-- Search -->
            <div class="row">
                <div class="input-field">
                    <input type="search" placeholder="Pesquise sua Cidade" list="cities-list" ng-model="search" required>
                    <label class="label-icon" for="search"><i class="fa fa-search"></i></label>

                    <datalist id="cities-list">
                        <option ng-repeat="city in cities" value="{{city.name}}"></option>
                    </datalist>
                </div>
            </div>

            <!-- Cards -->
            <div class="row" ng-repeat="forecast in forecasts | filter:search">

                <h5>Previsão para {{forecast.locale.name}} - {{forecast.locale.state}}</h5>

                <div ng-repeat="weather in forecast.weather ">
                    <div class="col s6 m6 l6">
                        <div class="card">
                            <div class="card-content">
                                <p class="text-lighten-1"><strong>{{weather.date | date : 'dd/MM/yyyy'}}</strong></p>
                                <p>{{weather.text}}</p>
                            </div>

                            <div class="card-content grey lighten-5">
                                <div class="row center">
                                    <div class="col s6 m6">
                                        <h4 class="max"><i class="fa fa-long-arrow-up"></i> {{weather.temperature.max}}ºC</h4>
                                    </div>
                                    <div class="col s6 m6">
                                        <h4 class="min"><i class="fa fa-long-arrow-down"></i> {{weather.temperature.min}}ºC</h4>
                                    </div>
                                </div>

                                <div class="row center">
                                    <div class="col s6 m6">
                                        <h4><i class="fa fa-tint"></i> {{weather.rain.probability}}mm</h4>
                                    </div>
                                    <div class="col s6 m6">
                                        <h4><i class="fa fa-umbrella"></i> {{weather.rain.precipitation}}%</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <% include ../partials/footer %>
    </body>
</html>