.header {
    background-color: dodgerblue;
    display: flex;
    width: 100vw;
    height: 7vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header .header-logo {
    width: 35vw;
    max-width: 300px;
}

body {
    background-color: rgb(230, 230, 230)
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.search-bar {
    display: inline-flex;
    width: 100vw;
    height: 10vh;
    padding: 1% 5%;
    align-items: center;
    background-color: white
}

.search-bar .search-input {
    width: inherit;
    height: inherit;
    border: none;
}

.search-bar .search-icon {
    height: auto;
    align-content: center
}

div#mainContent {
    display: flex;
}
