/*=== RESET CSS ===*/
:root {
  --black: #000;
  --white: #fff;
  --blue-500: #184479;
  --grey: #dadada;
  --red: #AA0000;
  --blue: #007FFF;
  --darker-grey: #cfcece;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
};

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
};

body {
  line-height: 1;
};

ol, ul {
  list-style: none;
};

blockquote, q {
  quotes: none;
};

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
};

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*================*/

/*==== CSS INDEX ====*/

body {
background-color: var(--white);
font-family: Arial, Helvetica, sans-serif;
}
