<div class="row m-0 pt-2">
  <div class="col-12 pt-2 pb-3">
    <div class="card">
      <div class="card-block pt-1 pb-1">
        <p class="card-title mb-1 c-card-title">Climatempo / Previsão do tempo</p>
        <p class="card-text text-danger">
          Previsão para {{location}} não disponível no momento. Por favor tente
          uma das cidades existentes em nossa base (no momento Osasco e São Paulo).
        </p>
        <p class="card-text">
          A previsão do Climatempo contempla 7 dias e informa, além de temperaturas
          mínima e máxima para cada dia, a probabilidade de chuva e nível de precipitação
          esperado, como no quadro abaixo.
        </p>
      </div>
      <div class="container-fluid w-100 c-stats">
        <div class="row p-3 align-text-middle text-center">
          <div class="col-2">
            <img src="/assets/icons/maxima.png" alt="Máxima" />
          </div>
          <div class="col-4 text-info c-stat-text">
            35&deg;C
          </div>
          <div class="col-2">
            <img src="/assets/icons/minima.png" alt="Minima" />
          </div>
          <div class="col-4 text-danger c-stat-text">
            18&deg;C
          </div>
        </div>
        <div class="row p-3 align-text-middle text-center">
          <div class="col-2">
            <img src="/assets/icons/umidade.png" alt="Precipitação" />
          </div>
          <div class="col-4 c-stat-text">
            101mm
          </div>
          <div class="col-2">
            <img src="/assets/icons/chuva.png" alt="Probabilidade de chuva" />
          </div>
          <div class="col-4 c-stat-text">
            70%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
