.container {
  height: 4rem;
  background-color: var(--blue-header);
}

.container > div {
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.container > div > button {
  height: 100%;
  width: 227px;
  background-color: transparent;
  border: 0;
  outline: none;
}

.container > div > button > img {
  height: 100%;
}
