<div fxLayout="row" fxLayoutAlign="center center">
    <h4>Previsão para Osasco - SP</h4>
</div>

<mat-card class="box-previsao">
    <mat-card-subtitle>02/12/2019</mat-card-subtitle>
    <mat-card-content> Sol com muitas nuvens durante o dia. Períodos de nublado, com chuva a qualquer hora.</mat-card-content>
    <div fxLayout="column" fxLayoutAlign="center center">
        <img src='assets/images/icons/upload.png'> <strong>20°C</strong>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <img src='assets/images/icons/download.png'> <strong>20°C</strong>
    </div>
</mat-card>