.Search {
    border-radius: 0.8rem;
    background-color: var(--white);
    height: 3rem;
    margin: 2rem 0 2rem 0 ;
    padding: 0.2rem 1rem;
    width: 70%;
    max-width: 500px;
    min-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 3rem 0.1rem;
}


.Input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.InputTxt {
    display: block;
    font-size: 0.8rem;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    border: none;
    background-color: transparent;
}

.InputTxt:focus {
    outline: none;
}

.SearchButton {
    border: none;
    background-color: transparent;
}

.Img {
    width: 0.9rem;
    cursor: pointer;
}

.Options {
    position: absolute;
    background-color: var(--white);
    top: 3rem;
    width: 88%;
    line-height: 2rem;
    border-top: 1px solid #ccc;
    font-size: 1rem;
    max-height: 7.5rem;
    overflow: auto;
    border-radius: 0 0 8px 8px;
}

.OptionsLi:hover {
    color: var(--blue-500);
    cursor: pointer;
    transition: 0.3s;
}

.logoImgTwo {
    width: 15rem;
    height: 2rem;
    margin-top: 10rem;
}