html {

  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: block;
}

body {
  background-color: #f3f3f3;
  font-family: 'Raleway', 'Source Sans Pro', sans-serif;
  font-size: 1.0rem;
  color: #282828;
  margin: 0;
  display: block;
}

#index-nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.2em;
  background-color: #f9f9f9;
  color: #888;
  opacity: 0.97;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.16);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#index-nav ul {

  margin: 0;
  text-align: center;
  white-space: nowrap;
}

#index-nav ul li {

  display: inline-block;
}

#index-nav ul li a {

  display: block;
  padding: .8em 1.2em;
  -webkit-text-shadow: 1px 1px 1px #fefefe;
  -moz-text-shadow: 1px 1px 1px #fefefe;
  text-shadow: 1px 1px 1px #fefefe;
}

#index-nav ul li a:active {

  background-color: #000;
  color: #fff;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}

#index-nav ul, #index-nav li {

  margin: 0;
  padding: 0;
  list-style-type: none;
}

#index-nav ul, #index-nav li, #index-nav a {

  color: #000;
  font-size: 13px;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Open Sans';
}

#index-nav * {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

dl, ol, ul {

  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

li {

  display: list-item;
  text-align: -webkit-match-parent;
}

input[type=text], select {
    width: 60%;
    padding: 1%;
    margin: 2% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.5%;
    box-sizing: border-box;
    font-size: 100%;
}

input[type=submit] {
    width: 70%;
    background-color: #4C90B1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2d566a;
}

.secao {
  float: left;
  width: 46.5%;
  padding-left: 2.5%;
  min-width: 285px;
  vertical-align: top;
  display: inline-block;
}

.card {
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 10%;
  padding: 0;
  width: 100%;
  height: auto;
  text-align: left;
  transition: 0.3s;
}
  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.container {
  background-color: #F5F5F5;
  padding: 2px 16px;
}


.card-date {
  box-sizing: inherit;
  padding: 5px 10px;
}

.card-text {
  box-sizing: inherit;
  height: 25%;
  padding: 5px 10px;
}
  .card-text p {
    margin: 0;
  }

.card-temperature, .card-rain {
  margin-top: auto;
}
  .card-temperature h3, .card-rain h3 {
    display: inline-block;
    width: 20%;
    padding: 0 5% 0 0;
    font-size: 100%;
    font-family: "Courier New";
    font-weight: normal;
  }
  .card-temperature img, .card-rain img {
    display: inline-block;
    position: relative;
    padding: 5% 5% 0 0;
  }

.max {
  color: #CD0000;
}

.min {
  color: #3F95CC;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 100%;
    margin-bottom: 50px;
    line-height: 1.6em;
    text-align: center;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }
