<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Climatempo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <script src="/public/assets/js/main.js"></script>
</head>
<body>
    <header>
        <div class="top-bar">
            <img class="top-image" src="/public/assets/img/logo-white.png">
        </div>
        <input type="text" name="city" id="city" placeholder="Busque uma cidade" required>
        <button class="search-button" type="submit" onclick="findCity()"><img src="/public/assets/icons/search.png"></button>
    </header>
    <main>
        <div id="cards"></div>
    </main>
</body>
</html>
