%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$climatempo-primary-color: hsl(211.93, 80.28%, 41.76%);

.nav {
  @extend %flex-center;
  // justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: $climatempo-primary-color;
}

.image_container {
  position: relative;
  width: 50%;
}

.main {
  @extend %flex-center;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  flex-direction: column;
}

.footer {
  @extend %flex-center;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.footer a {
  @extend %flex-center;
  flex-grow: 1;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  @extend %flex-center;
  flex-wrap: wrap;
  max-width: 800px;
  flex-direction: column;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (min-width: 600px) {
  .nav {
    .image_container {
    }
  }
  .grid {
    width: 100%;
    flex-direction: row;
  }
}

// @media (prefers-color-scheme: dark) {
//   .card,
//   .footer {
//     border-color: #222;
//   }
//   .code {
//     background: #111;
//   }
//   .logo img {
//     filter: invert(1);
//   }
// }
