@use "styles/abstracts/index" as *;

.search {
  position: relative;
  &:hover {
    border: 1px solid white;
    padding: 2px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }
  cursor: pointer;
}

.nav {
  @extend %flex-center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: $climatempo-primary-color;
  padding: 0 10px;

  @include larger-than-mobile {
    padding: 0 40px;
  }
}

.icon_container {
  @extend %flex-center;
  width: 50px;
  height: 50px;
}

.image_container {
  @extend %flex-center;
  position: relative;
  width: calc(1202px / 7);
  height: calc(170px / 7);
  @include larger-than-mobile {
    scale: 1.1;
  }
}

.main {
  min-height: 100vh;
  background-color: hsl(0, 0, 95%);
}

.footer {
  @extend %flex-center;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.footer a {
  @extend %flex-center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
