%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$climatempo-primary-color: hsl(211.93, 80.28%, 41.76%);
$ratio: 6;

.nav {
  @extend %flex-center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: $climatempo-primary-color;
  padding: 0 40px;
}

.search {
  position: relative;
  &:hover {
    border: 1px solid white;
    padding: 2px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }
  cursor: pointer;
}

.icon_container {
  @extend %flex-center;
  width: 50px;
  height: 50px;
}

.image_container {
  @extend %flex-center;
  position: relative;
  width: calc(1202px / $ratio);
  height: calc(170px / $ratio);
}

.main {
  min-height: 100vh;
  background-color: hsl(0, 0, 95%);
}

.footer {
  @extend %flex-center;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.footer a {
  @extend %flex-center;
  flex-grow: 1;
}

.grid {
  @extend %flex-center;
  flex-wrap: wrap;
  flex-direction: column;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (min-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: row;
  }
}

// @media (prefers-color-scheme: dark) {
//   .card,
//   .footer {
//     border-color: #222;
//   }
//   .code {
//     background: #111;
//   }
//   .logo img {
//     filter: invert(1);
//   }
// }
