<div class="col-md-4 col-sm-12 cards">
    <div class="col-sm-12 header-card">
        <h2 class="date">01/02/2017</h2>
        <p class="description">
            Sol com muitas nuvens durante o dia. Períodos de nublado, com chuva a qualquer hora.
        </p>
    </div>
    <div class="col-sm-12 main-card">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img src="images/icons/upload.png" class="icon-weather">
                    <h3 class="info-weather max-weather iw-up">20°</h3> 
                </div>
                <div class="col-sm-6">
                    <img src="images/icons/download.png" class="icon-weather">
                    <h3 class="info-weather min-weather iw-dow">10°</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="images/icons/raindrop-close-up.png" class="icon-weather">
                    <h3 class="info-weather humidity-weather">10mm</h3>
                </div>
                <div class="col-sm-6">
                    <img src="images/icons/protection-symbol-of-opened-umbrella-silhouette-under-raindrops.png" class="icon-weather">
                    <h3 class="info-weather rain-weather">50%</h3>
                </div>
            </div>
        </div>
    </div>
</div>